.playlistItemAdder {

    position: sticky;
    top:0;
    width: 100%;

    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all 0.3s ease-out;
    padding: 12px;
    align-items: center;
    background-color: #000;

    & svg{
        transition: fill 0.2s ease-out;
    }

    &:hover svg {

        fill:#000;
    }

    &:hover {

        background-color:white;
        color: #000;
    }
}

.itemTitle {

    flex: 5;
}

.itemAdd {

    transition: color 0.2s ease-out;

    &:hover svg {
    
        fill:greenyellow;
    }

    &:hover{
    
        color:greenyellow;
        cursor: pointer;
    }

    flex: 1;
}

.itemEmpty {

    flex: 1;
}

input {

    background-color: #000;
    color: #fff;
    padding: 12px;
    border: none;
    font-size: 2rem;
    margin-right:24px;
    transition: all 0.3s ease-out;

    &:focus {
        background-color: greenyellow;
        outline: none;
        color:#000;
    }
}