.playlists{

    position: relative;
    background-color: #000;
    max-height: calc(100vh - 128px);
    overflow-y: scroll;
}

.item{

    font-size:2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    padding:12px;
    align-items: center;

    & svg {
        transition: fill 0.3s ease-out, color 0.3s ease-out;
    }

    &:hover svg {
        fill:#000;
    }

    &:hover{

        background-color: #FFF;
        color:#000;
    }
}

@keyframes itemAddedAnimation {

    0% {
        background-color: transparent;
    }

    25% {
        background-color: greenyellow;
    }

    100% {
        background-color: transparent;
    }
}

.item___added {

    animation: itemAddedAnimation 1s;
}

.item [data-identifier="itemDelete"], 
.item [data-identifier="itemUp"], 
.item [data-identifier="itemDown"] {

    visibility: hidden;
    display: none;
}

.item:hover [data-identifier="itemDelete"],
.item:hover [data-identifier="itemUp"],
.item:hover [data-identifier="itemDown"] {

    visibility: visible;
    display: flex;
}

.itemTitle{

    flex:5;
}

.itemTitleCursor{

    flex:5;
    transition: color 0.2s ease-out;
    cursor: pointer;

    &:hover {
        color: var(--app-color-violet);
    }
}

.itemDelete{
    flex:1;
    transition: color 0.2s ease-out;
    cursor: pointer;

    &:hover{
        color: red;
    }

    &:hover svg{
        fill:red;
    }
}

.itemAdd{

    color:green;
    flex:1;
    cursor: pointer;
}

.itemUp{
    flex:1;
    cursor: pointer;
    transition: color 0.2s ease-out;

    &:hover svg {
        fill: var(--app-color-blue);
    }

    &:hover {

        color: var(--app-color-blue);
    }
}

.itemDown{
    flex:1;
    cursor: pointer;
    transition: color 0.2s ease-out;

    &:hover svg {
        fill: var(--app-color-blue);
    }

    &:hover{

        color: var(--app-color-blue);
    }
}

.edit{

    background-color: #023000;
}

.inputText{

    padding:12px;
    font-size:1.5rem;
    font-weight: 900;
}

.inputTextTitle{

    width:60%;
}

.inputTextVideo{

    width:30%;
}